.profile-container{
	border-radius: 15px;
	padding: 10px;
  	box-shadow: 0px 0px 8px 5px #ebebeb;
}

.profile-img{
	padding: 10px;
    height: auto;
    width: auto;
    max-width: 250px;
}

.profile-header{
	padding: 10px;
}