.search-results{
	border-radius: 15px;
	padding: 10px;
  	box-shadow: 0px 0px 8px 5px #ebebeb;


	&-list{
		max-height: 300px;
		overflow-y: scroll;
	  	
	  	&-item{
			display: flex;
		}
	}

	&-load-button{
		margin: 0 auto;
	}
}